/* Sets page background image */
body{
    background-image: url("./images/background_img.avif");
    background-size: cover;
    background-size: 100% 285%;
}
/* Sets img sizing */
img{
    width: 40%;
    height: 40%;
}