<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>Weather App</title>
</head>
<body class="bg-dark text-light">

    <div class="row bg-dark bg-secondary bg-gradient">
        <!-- Card For City Search -->
        <city-search-card class="card rounded-0 bg-dark bg-secondary bg-gradient col-12 col-lg-4">
            <h1>Search For A City:</h1>
            <form method="post" action="/">
                <input id="city_input" name="city_input" type="text" required><br>
                <button id="search_btn" type="submit">Search</button><br>
            </form>
        </city-search-card>
        <!-- Card For Chosen City -->
        <selected-city-now class="card rounded-0 bg-dark bg-secondary bg-gradient col-12 col-lg-8">
            <ul>
                <h2><span id="city"></span> {{weather_data["city0"]}} <span id="date_0"></span></h2>
                <div class="card rounded-0 bg-dark bg-secondary bg-gradient col-12 col-lg-2">
                    <img id="icon_0" src="{{weather_data['icon0']}}" ></img>
                    <li id="temp_0"> {{weather_data["temperature0"]}} </li>
                    <li id="wind_0"> {{weather_data["wind0"]}} </li>
                    <li id="humid_0"> {{weather_data["humid0"]}} </li>
                </div>
            </ul>
        </selected-city-now>
    </div>
    <!-- Card for the Chosen City Forcast -->
    <div class="row">
    <div class="card rounded-0 bg-dark bg-secondary bg-gradient col-12 col-lg-2">
            <ul id="history">
                <p>History</p>
                <form method="post" action="/">
                    {% for key, entry in session['history'].items() %}
                    <button type="submit" name="city_input" class="{{entry['visibility']}} row history_button" id="history_{{ loop.index0 }}" value="{{ entry['city'] }}">{{ entry['city'] }}</button>
                    {% endfor %}
                </form>
            </ul>
        </div>
        <!-- Cards for each forecasted day -->
        <selected-city-forcast class="card rounded-0 bg-dark bg-secondary bg-gradient justify-content-center col-12 col-lg-10">
            <h2 class="align-text-center text-center">5 Day Forecast</h2>
            <div class="row justify-content-center">
                {% for day in range(1,6) %}
                <div class="col-12 col-lg-2">
                    <ul class="card rounded-0 bg-dark bg-secondary bg-gradient" id="day_{{day}}">
                        <img id="icon_{{day}}" src="{{weather_data['icon' + day|string]}}"></img>
                        <li id="date_{{day}}">{{weather_data['date' + day|string]}}</li>
                        <li id="temp_{{day}}">{{weather_data['temperature0' + day|string]}}</li>
                        <li id="wind_{{day}}">{{weather_data['wind' + day|string]}}</li>
                        <li id="humid_{{day}}">{{weather_data['humid' + day|string]}}</li>
                    </ul>
                </div>
                {% endfor %}
                <!-- <div class="col-12 col-lg-2">
                    <ul class="card rounded-0 bg-dark bg-secondary bg-gradient" id="day_2">
                        <img id="icon_2"></img>
                        <li id="date_2"></li>
                        <li id="temp_2"></li>
                        <li id="wind_2"></li>
                        <li id="humid_2"></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2">
                    <ul class="card rounded-0 bg-dark bg-secondary bg-gradient" id="day_3">
                        <img id="icon_3"></img>
                        <li id="date_3"></li>
                        <li id="temp_3"></li>
                        <li id="wind_3"></li>
                        <li id="humid_3"></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2">
                    <ul class="card rounded-0 bg-dark bg-secondary bg-gradient" id="day_4">
                        <img id="icon_4"></img>
                        <li id="date_4"></li>
                        <li id="temp_4"></li>
                        <li id="wind_4"></li>
                        <li id="humid_4"></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-2">
                    <ul class="card rounded-0 bg-dark bg-secondary bg-gradient" id="day_5">
                        <img id="icon_5"></img>
                        <li id="date_5"></li>
                        <li id="temp_5"></li>
                        <li id="wind_5"></li>
                        <li id="humid_5"></li>
                    </ul>
                </div> -->
            </div>
        </selected-city-forcast>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../static/script.js"></script>
</html>